* {
  font-family: "Syne", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(27, 27, 27);
}
p {
  font-size: 1.2em;
}
h1,
h2,
h3,
a {
  font-weight: 700;
}
h1,
h2,
h4 {
  text-align: right;
}
html,
body {
  overflow-x: hidden;
}
body {
  box-sizing: border-box;
  min-height: 100vh;
  background: rgb(233, 233, 233);
  background: linear-gradient(
    0deg,
    rgba(241, 241, 241, 0) 0%,
    rgb(240, 237, 237) 100%
  );
  max-width: 960px;
  margin: 0 auto;
}

.proj-1 .img {
  background-image: url(./imgs/portfolio.webp);
}
.proj-2 .img {
  background-image: url(./imgs/note-taking.webp);
}

.cproj-1 .img {
  background-image: url(./imgs/gifs_stickers.webp);
}
.cproj-2 .img {
  background-image: url(./imgs/fonts.webp);
}

.proj-3 .img {
  background-image: url(./imgs/bootstrap.webp);
}
.img {
  background-color: white;

  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  font-size: 1.4em;

  /* mobile testing */
}

/* { */
.nav-wrapper ul {
  list-style-type: none;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 5;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  background-color: rgb(37, 37, 37);
  transform: translateY(0%);
  transition: all 0.4s;
  transition-timing-function: ease-in-out;
}

.nav-active {
  transform: translateY(-100%) !important;
}
/* .none {
  display: none;
} */
/* } */
nav ul a {
  padding: 1em 0em 1em 1em;
}
a {
  color: rgb(27, 27, 27);
  text-decoration: none;
  transition: all 0.2s;
  border-bottom: 0.3em solid #818dff;
}
a:hover {
}
.nav,
nav a,
.nav-wrapper a {
  border-bottom: none;
}
.icons a {
  border-bottom: none;
}
.icons a {
  border-bottom: none;
}
.nav-wrapper ul a {
  color: rgb(224, 224, 224);
  font-size: 1.5em;
}
header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
h1 {
  font-size: 4.5em;
}
h4 {
  font-size: 0.9em;
}
h2 {
  font-size: 2.5em;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 0em;
}
.about-proj {
  flex-grow: 1;
}
.proj a {
  background-color: rgb(27, 27, 27);
  color: rgb(240, 237, 237);
  cursor: pointer;
}
.proj {
  min-height: 40vh;
  margin-bottom: 2em;
}
.links {
  padding: 1em 0;
}
.links a {
  padding: 1em;
}
.big-sections,
footer {
  margin-bottom: 2em;
}

.below-hero {
  margin-top: -15em;
  margin-left: -4em;
  transform: translateX(5em) scale(0.8);
}
.hero {
  margin-bottom: -2em;
}
.below-projects {
  transform: scale(0.6);
}
.below-project {
  margin-top: -4.5em;
  margin-left: 1em;
  transform: translateX(14em);
}
.below-skill {
  margin-top: -4.5em;
  margin-left: 1em;
  transform: translateX(14em) scale(0.7);
}
.below-contact {
  margin-top: -5em;
  margin-left: 1em;
  transform: translateX(10em) scale(0.6);
}
.bar {
  width: 2.7em;
  height: 0.25em;
  background-color: black;
  padding: 0.1em;
  margin-bottom: 0.3em;
  transition: all 0.2s;
}
.mob-nav {
  z-index: 10;
  padding: 1.5em 0;
  cursor: pointer;
  position: sticky;
  top: 0;
  float: right;
  display: none;
}
.on {
  background-color: white;
}
.on:nth-of-type(1) {
  transform: rotate(-45deg);
}
.on:nth-of-type(2) {
  transform: rotate(-45deg) scaleX(0.6);
}

a:hover {
  color: #818dff;
}

@media screen and (max-width: 992px) {
  .nav-wrapper ul {
    display: flex;
  }
  .mob-nav {
    display: inline-block;
  }
  nav,
  .nav {
    display: none;
  }
  .hero {
    margin-top: 3.2em;
  }
  .below-skill {
    transform: translateX(7em) scale(0.7);
  }
  .below-contact {
    transform: translateX(5em) scale(0.7);
  }
}
@media screen and (max-width: 768px) {
  h1,
  h2,
  h4 {
    text-align: center;
  }

  .buffer {
    display: none;
  }
}
@media screen and (max-width: 568px) {
  .buffer {
    display: none;
  }
  h1,
  h2,
  h4 {
    text-align: left;
  }
  .below-hero {
    margin-left: -9em;
    transform: scale(0.5);
  }
  .below-project {
    margin-left: -3em;
    transform: scale(0.8);
  }
  .below-contact {
    margin-left: -5em;
    transform: scale(0.6);
  }
  .below-skill {
    transform: scale(0.6);
    margin-left: -4em;
  }
  h1 {
    font-size: 16vw;
  }
  h2 {
    font-size: 2em;
  }

  .footer-path {
    transform: scale(0.8);
  }
  .img {
    display: block;
    height: 40vh;
  }
  p {
    font-size: 1.2em;
    margin-bottom: 1.4em;
  }
}
